#s4-bodyContainer{
    padding-bottom: 0;
}
.main-container{
    .ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a{
        @extend .font-lato-med;
    }
    h2.ms-webpart-titleText span {
            font-size: 40px;
            text-align: left;
            color: $brand-brown-gray;
            @extend .font-lato-med;
        }
    h2.ms-webpart-titleText {
        line-height: 40px;
    }
    .main-right-rail h2.ms-webpart-titleText span{
        color: $brand-white;
    }

}
table.ms-ToolPaneOuter {
    width: 250px;
    height: auto;
    top: 175px;
    left: -100%;
    position: relative;
    z-index: 9999;

    .ms-ToolPaneBody {
        overflow-y: scroll;
    }
}

.main-right-rail{
    div.ms-webpart-cell-vertical-inline-table, .ms-webpart-cell-vertical, .ms-webpart-zone, .ms-webpart-chrome-vertical{

    }
}

#ci-apps-manage{
    li{
        list-style: none;   
    }
    input{
        margin-right: 5px;
    }
    button{
        border-radius: 0;
        border: none;
        text-transform: uppercase;
        @extend .font-lato-bold;
        font-size: 16px;
        letter-spacing: 2px;
        padding: 15px;
        background-color: $brand-dark-blue;
        color: $brand-white;
    }

}