.main-container{
    h2.ms-webpart-titleText span {
            font-size: 40px;
            text-align: left;
            color: $brand-brown-gray;
        }
    h2.ms-webpart-titleText {
        line-height: 40px;
    }
}