#s4-bodyContainer{
    padding-bottom: 0;
}
#s4-workspace{
    -webkit-overflow-scrolling: touch;
}

.main-container{
    .ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a{
        @extend .font-lato-med;
    }
    h2.ms-webpart-titleText span {
            font-size: 40px;
            text-align: left;
            color: $brand-brown-gray;
            @extend .font-lato-med;
        }
    h2.ms-webpart-titleText {
        line-height: 40px;
    }
    .main-right-rail h2.ms-webpart-titleText span{
        color: $brand-white;
        @extend .font-lato-reg;
        overflow: visible;
        text-overflow: unset;
        white-space: normal;
    }
    .main-left-content{
        .ms-webpart-zone{
            display: block;
        }
    }
}
table.ms-ToolPaneOuter {
    width: 250px;
    height: auto;
    top: 175px;
    left: -100%;
    position: relative;
    z-index: 9999;

    .ms-ToolPaneBody {
        overflow-y: scroll !important;
    }
}
.ms-ToolPaneBody{
    max-height: 400px;
    overflow: scroll;
}

.main-right-rail{
    > div{
        max-width: 320px;
    }
    div.ms-webpart-cell-vertical-inline-table, .ms-webpart-chrome-vertical, .js-webpart-titleCell, .ms-webpart-controlBox, .js-webpart-menuCell, .ms-webpart-checkboxTd, .ms-webpart-zone{
        display: block;
    }    
}

.ms-dlgTitleBtns{
    margin-right: 0;
}

.ms-taxonomy .ms-taxonomy-browser-button{
    width: auto;
}

@media  screen and (min-width:992px) and (max-width:1220px) {
  navigation{
        .nav-item{
            padding-right: 35px;
            a, a:visited, a:hover{
                font-size: 16px;
            }
        }
        .search-button > a{
            font-size: 16px;
        }
    }
}

modal {
    li{
        list-style: none;   
        max-width: 400px;
        padding: 10px;
        &:hover{
            cursor: pointer;
            color: $brand-white;
            background-color: $brand-dark-blue-alt;
        }
    }
    input{
        margin-right: 5px;
    }
    button{
        border-radius: 0;
        border: none;
        text-transform: uppercase;
        @extend .font-lato-bold;
        font-size: 16px;
        letter-spacing: 2px;
        padding: 15px;
        background-color: $brand-dark-blue;
        color: $brand-white;
        cursor: pointer;
    }
    button:disabled {
        border-radius: 0;
        border: solid 1px #000000;
        text-transform: uppercase;
        @extend .font-lato-bold;
        font-size: 16px;
        letter-spacing: 2px;
        padding: 15px;
        background-color: $brand-white;
        color: $brand-dark-blue;
        opacity: 0.4;
    }
}