/* 
 * -----------------------------------------
 *  Departments
 *  @@ File: components/_departments.scss
 * ----------------------------------------- 
 */

 .departments, .work-resourcess{
	.nav.nav-pills{
		display: inline-block;
		text-align: center;
		.nav-item{
			display: inline-block;
    		margin-right: 15px;
    		margin-bottom: 20px;
    		min-width: 200px;
		}
		.nav-link a{
			color: $brand-white;
		}
	}
 }