/* 
 * -----------------------------------------
 *  Group Summary
 *  @@ File: components/_group-summary.scss
 * ----------------------------------------- 
 */

 .group-summary{
	.card{
		border-radius: 0;
		background-color: $brand-white;
		//border-color: $brand-light-blue;
		border-color: transparent;
	}
	.card-header{
		background-color: $brand-white;
	}
	.card-body{
		padding: 20px;
        .employee-card {
            img.emp-photo {
                width: 100px;
                height: 100px;
            }
        }
	}
	h5 {
		color: $brand-dark-blue;
		text-transform: uppercase;
        display: inline;
	}
	.toolbar-toggle-button{
		float: none;
	}
 }
 
 .more-less{
 	&:before{
 		font-family: FontAwesome;
 		content: '\f068';
 		display: inline-block;
 		margin-right: 10px;
 	}
 	&.collapsed{
 		&:before{
 			content: '\f067';
 		}
 	}
 }