/* 
 * -----------------------------------------
 *  Group Summary
 *  @@ File: components/_group-summary.scss
 * ----------------------------------------- 
 */

 .group-summary{
	.card{
		border-radius: 0;
		background-color: $brand-white;
		border-color: $brand-light-blue;
	}
	.card-header{
		background-color: $brand-white;
	}
	h5 a{
		color: $brand-dark-blue;
		text-transform: uppercase;
	}
 }
 
 .more-less{
 	&:before{
 		font-family: FontAwesome;
 		content: '\f068';
 		display: inline-block;
 		margin-right: 10px;
 	}
 	&.collapsed{
 		&:before{
 			content: '\f067';
 		}
 	}
 }