/* 
 * -----------------------------------------
 *  Hero News Container
 *  @@ File: components/_hero-news-container.scss
 * ----------------------------------------- 
 */
.hero-news-container{
	img{
		width: 100%;
	}
	.card-group{
		margin-bottom: 20px;
	}
	.card{
		background-color: $brand-off-white;
		border: none;
	}
	.card-title{
		margin-bottom: 30px;
		background-color: $brand-white;
		display: inline-block;
		border: 1px solid $brand-brown-dull;
		padding: 4px 10px;
		color: $brand-brown-gray !important;
		margin-right: 5px;
		a, a:visited, a:hover{
			color: $brand-brown-gray !important;
		}
	}
	.card-likes{
		color: $brand-brown-gray;
		i{
			margin-right: 5px;
		}	
	}
	.card-text{
		line-height: 27px;
		font-size: 24px;
		@extend .font-lato-med;
		margin-bottom: 50px;
	}
	.card-date{
		font-size: 14px;
		color: $brand-brown-gray;
		@extend .font-lato-reg;
		margin-bottom: 5px;
	}
	.img-fluid{
		height: 100%;
		width: auto;
	}

}
.recent-news-wrapper{
	.card-title{
		font-size: 15px;
	}
}