/* 
 * -----------------------------------------
 *  Navigation
 *  @@ File: components/_navigation.scss
 * ----------------------------------------- 
 */

navigation {
    nav {
        margin-left: 115px;
        margin-right: 115px;
        background-color: $brand-dark-blue-alt;
            
    }
    div.nav-node, div.nav-search, div.nav-icon {
        height: 93px;
        padding: 0;
    }
    div.nav-node a, div.nav-node a:visited, div.nav-node a:hover, div.nav-search a, div.nav-search a:visited, div.nav-search a:hover, div.nav-search span {
        color: $brand-white;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        padding: 10px;            
    }
    div.nav-node > a {
        display: block;
        top: 50%;
        position: relative;
        transform: translateY(-50%);
    }

    div.search-background {
        position: absolute;
        background-color: $brand-dark-blue-alt;
        left: -200px;
        z-index: 999;
        height: 93px;      
    }
    div.search-background > input {
        width: 200px;        
    }
    .nav-icon {
        padding: 20px;
        text-align: right;
        img {
                display: block;
                top: 50%;
                position: relative;
                transform: translateY(-50%);
                float: right;
        }
    }
    .nav-search {
        padding: 20px;        
    }
    .nav-search > div.search-button, .nav-search > div.search-background > input {
        float: left;            
        transform: translateY(-50%);
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
     }

}