/* 
 * -----------------------------------------
 *  Nav Toolbar
 *  @@ File: components/_nav-toolbar.scss
 * ----------------------------------------- 
 */

 .nav-toolbar{
 	.nav-tabs{
		border-bottom: 1px solid $brand-white;
		position: relative;
		margin-bottom: 30px;
	}
	.nav-item{
		margin-bottom: -1px;
	}
	.nav-link{
		text-align: left;
		padding-left: 0;
		padding-right: 30px;
		padding-bottom: 5px;
		border-bottom: 4px solid transparent;
		border-left: none;
		border-right: none;
		border-top: none;
		font-size: 16px;
		@extend .font-lato-reg;
		color:  $brand-light-blue;

		&:hover{
			border-bottom: 4px solid transparent;
			border-left: none;
			border-right: none;
			border-top: none;
			border-radius: 0;
			color: $brand-white;
		}
		&.active{
			border-bottom: 4px solid $brand-white;
			border-left: none;
			border-right: none;
			border-top: none;
			border-radius: 0;
			color: $brand-white;
			background: transparent;
		}
		&.alt{
			
		}
	}
	.toolbar-content{
		ul{
			list-style: none;
			display: inline-block;
			text-align: center;
			// margin-top: 30px;
			padding-left: 0;
			margin-right: 30px;
			a{
				color: $brand-white;
				@extend .font-lato-med;
				text-transform: uppercase;
				font-size: 10px;
				letter-spacing: 0.4px;
				div{
					padding-top: 5px;
					display: block;
					position: relative;
				}
			}
		}
		h3{
			color: $brand-brown-dull;
		}

	}
	.manage-toolbar{
		position: absolute;
		right: 0;
		top: 45px;
	}
 }
 .weather{
 	sup{
 		font-size: 10px;
 		vertical-align: top;
 		top: 5px;
 		display: inline-block;
 	}
 	.weather-icon{
 		font-size: 40px;
 		margin-right: 15px;
 		position: relative;
 		top: 8px;
 	}
 	.weather-location{
 		font-size: 12px;
 		@extend .font-lato-bold;
 		text-transform: uppercase;
 		margin-top: 14px;
 		display: block;
 	}
 	.weather-info{
 		font-size: 22px;
 		@extend .font-lato-light;
 	}

 }