/* 
 * -----------------------------------------
 *  People Places
 *  @@ File: components/_people-places.scss
 * ----------------------------------------- 
 */

 section.people-places {
	ul.tab-picker {
        
        li {
            list-style: none;
            cursor: pointer;
        }
	}
    h2 {
            font-size: 40px;
            text-align: left;
            color: $brand-brown-gray;
    }
 }
 section.global-partners, section.my-department {
     h2 {
            font-size: 40px;
            text-align: left;
            color: $brand-white;
    }
     img.emp-photo {
         height: 48px;
     }
     ul{
        padding-left: 0;
        list-style: none;
     }
 }

 .my-department{
    .employee-card{
        background-color: $brand-white;
        padding:15px;
        margin-top: 15px;
    }
 }