/* 
 * -----------------------------------------
 *  Right Rail
 *  @@ File: components/_right-rail.scss
 * ----------------------------------------- 
 */
 .main-right-rail{
 	h2.section{
		color: $brand-white;
		@extend .font-lato-med;
	}
	.list-content{
		.btn-cta.white{
			margin-top: 10px;
		}
	}
 }

.trending, .related{
		background-color: transparent;
		border: none;
		padding: 20px 0 0 0;
		max-width: 320px;
		border-radius: 0;
		overflow: hidden;

	.card-body{
		border:1px solid $brand-white;
		border-left: none;
		border-radius: 0;
		border-right: none;
		border-top: none;
		padding: 0 0 15px 0;
	}
	.card-title{
		margin-bottom: 30px;
		background-color: $brand-white;
		display: inline-block;
		border: 1px solid $brand-brown-dull;
		padding: 4px 10px;
		color: $brand-brown-gray;
	}
	.card-likes{
		color: $brand-white;
		font-size: 14px;
		i{
			margin-right: 5px;
		}	
	}
	.card-text{
		line-height: 22px;
		font-size: 18px;
		@extend .font-lato-reg;
		margin-bottom: 14px;
		color: $brand-dark-blue;
	}
	.card-date{
		font-size: 14px;
		color: $brand-white;
		@extend .font-lato-bold;
		margin-bottom: 5px;
	}
	.img-fluid{
		height: 100%;
		width: auto;
	}
	.img-card{
		margin-bottom: 15px;
	}
}
.world-news{
	background-color: $brand-dark-blue;
	max-width: 320px;
	margin-bottom: 35px;
	.card-text{
		color: $brand-white;
		margin-bottom: 25px;
	}
	.btn-block{
		max-width: 160px;
	}
	h2 + .rss-feed{
		margin-top: 30px;
	}
	.btn.btn-cta{
		margin-top: 0;
	}
	padding: 20px 20px 0;
}

.rss-feed{
	margin-top: 30px;
	margin-bottom: 30px;
	// padding: 0 15px 0;
	padding-left: 0;
	hr{
		display: none;
	}
	>li{
		margin-bottom: 20px;
	}
	> li:last-child{
		//padding-bottom: 20px;
		margin-bottom: 0;
		hr{
			border-color: $brand-light-blue;
			// display: block;
			display: none;
			margin-top: 40px;
		}
		
	}
	.rss-category{
		text-transform: uppercase;
		color: $brand-white;
		@extend .font-lato-bold;
		font-size: 18px;
		margin-bottom: 15px;
		display: block;
		margin-top: 15px;
        i.fa {
            margin-right: 5px;
        }
	}
	.rss-title{
		a{
			color: $brand-white;
			font-size: 18px;
			line-height: 22px;
			@extend .font-lato-reg;
		}
	}
	.rss-date{
		font-size: 12px;
		@extend .font-lato-bold;
		color: $brand-light-blue;
	}
}
rss-feed-manager{
	.btn-cta{
		margin-top: 0 !important;
		margin-bottom: 10px;
	}
}
// rss-feed-manager{
// 	a{
// 		&:before{
// 			font-family: 'FontAwesome';
// 			content: "\f013";
// 			display: inline-block;
// 		}
// 	}
// }
.upcoming-events{
	background-color: $brand-white;
	border-radius: 0;
	max-width: 320px;
	margin-top: 20px;
	padding: 20px;
	margin-bottom: 30px;
	.card-body{
		border:1px solid $brand-white;
		border-left: none;
		border-radius: 0;
		border-right: none;
		border-top: none;
		padding: 0;
	}
	.card-tags{
		margin-bottom: 10px;
		background-color: $brand-white;
		display: inline-block;
		border: 1px solid $brand-brown-dull;
		padding: 4px 10px;
		color: $brand-brown-gray !important;
		text-align: left;
		margin-right: 20px;
		font-size: 14px;
		a, a:visited, a:hover{
			color: $brand-brown-gray !important;
		}
	}
	.card-likes{
		color: $brand-white;
		font-size: 14px;
		i{
			margin-right: 5px;
		}	
	}
	.card-text{
		line-height: normal;
		font-size: 22px;
		@extend .font-lato-med;
		margin-bottom: 14px;
		color: $brand-dark-blue;
		border-bottom: 2px solid $brand-brown-dull;
		padding-bottom: 14px;
		display: block;
	}
	.card-date, .card-time, .card-location{
		font-size: 14px;
		color: $brand-dark-blue;
		@extend .font-lato-reg;
		margin-bottom: 0;
	}
	.card-time, .card-location{
		margin-bottom: 15px;
	}
}
.media.employee-card{
	padding-bottom: 30px;
	.employee-card .emp-contact{
		display: block;
	}
}

