/* 
 * -----------------------------------------
 *  Stay Connected
 *  @@ File: components/_stay-connected.scss
 * ----------------------------------------- 
 */

 .stay-connected{
 	margin-top: 50px;
 	.photo-container{
 		p{
 			margin-top: 15px;
 		}
 	}
 	.share-buts{
 		.view-all-photos{
 			margin-top: 0;
 		}
 	}
 }