/* 
 * -----------------------------------------
 *  Work Resources
 *  @@ File: components/_work-resources.scss
 * ----------------------------------------- 
 */

 .work-resources, .how-do-i{
	.nav.nav-pills{
		display: block;
		text-align: left;
		.nav-item{
			display: inline-block;
    		margin-right: 15px;
    		margin-bottom: 20px;
    		width: 23%;
    		vertical-align: top;
		}
		.nav-link{
			text-align: left;
			i{ 
				display: table-cell;
			}
			span{
				display: table-cell;
				padding-left: 10px;
			}
		}
	}
 }

 .how-do-i{
 	.nav.nav-pills{
 		padding-top: 20px;
 		padding-bottom: 20px;
 		background-color: $brand-white;
 		margin-bottom: 30px;
 		margin-top: 30px;
 		h3{
			margin-left: 25px;
 		}
 		.nav-link{
 			background-color: transparent;
 			color: $brand-dark-blue;
 			&:hover{
 				color: $brand-dark-blue-alt ;
 			}
 		}
 		.nav-item{
 			width: 47%;
 		}
 	}
 }