<section class="spotlights">
    <h2>Employee Spotlight</h2>
    <ul class="tab-picker row">
        <li class="col-md-4" ng-click="ctrl.toggleActiveTab('gratitudes')"><h2>gratitudes</h2></li>
        <li class="col-md-4" ng-click="ctrl.toggleActiveTab('newHires')"><h2>new hires</h2></li>
        <li class="col-md-4" ng-click="ctrl.toggleActiveTab('anniversary')"><h2>anniversaries + retirements</h2></li>
    </ul>
    <div class="ci-gratitudes" ng-show="ctrl.activeTab == 'gratitudes'">
        <gratitudes></gratitudes>
    </div>
    <div class="ci-newHires" ng-show="ctrl.activeTab == 'newHires'">
        <newHires></newHires>
    </div>
    <div class="ci-anniversary" ng-show="ctrl.activeTab == 'anniversary'">
        <anniversary-card></anniversary-card>
    </div>
    <input id="ci-pp-activeTab" type="hidden" ng-model="ctrl.activeTab" />
    
    <div class="row">
        <ul>
            <li class="col-12">
                <a class="btn btn-cta" href="#">Submit a [Gratitude]</a>
            </li>
            <li class="col-12">
                <a class="btn btn-cta" href="#">View All</a>
            </li>
       </ul>
    </div>

</section>