<section class="my-department" ng-show="ctrl.toggleVisibility()">
    <h2 class="section">My Department</h2>

   <!--  <div class="card row" ng-repeat="person in ctrl.myDepartment track by $index">
        <div class="col-sm-4">
            <img class="emp-photo" ng-src="{{person.picUrl}}" />
        </div>
        <div class="col-sm-8">
            <div>{{person.title}}</div>
            <div>{{person.jobTitle}}</div>
            <div class="row">
                <div class="col-sm-5">
                    <a ng-href="mailto: {{person.email}}">
                        {{person.email}}
                    </a>                    
                </div>
                <div class="col-sm-2">|</div>
                <div class="col-sm-5">
                    <a ng-href="{{person.profileUrl}}">View Profile</a>
                </div>
            </div>
        </div>
    </div> -->
    <div class="media employee-card" ng-repeat="person in ctrl.myDepartment track by $index">
        <img class="d-flex align-self-start mr-3 emp-photo" ng-src="{{person.picUrl}}" alt="Employee photo">
        <div class="media-body">
          <h3 class="mt-0 emp-name">{{person.title}}</h3>
          <h5 class="emp-title">{{person.jobTitle}}</h5>
          <span class="emp-contact"><a>{{person.email}}</a> <span class="emp-view"><a ng-href="{{person.profileUrl}}">View Profile</a></span></span>
        </div>
    </div>

</section>
