<nav class="row">
    <div class="col-sm-2 nav-icon">
        <img src="https://via.placeholder.com/30x35" />
    </div>
    <div class="col-sm-8 row">
        <div ng-repeat="node in ctrl.navNodes" class="col-sm-2 nav-node">
            <a ng-href="{{ node.url }}">
                <div>{{ node.title }}</div>
            </a>
        </div>
    </div>
    <div class="col-sm-2 nav-search">
        <div class="search-button">
            <span>|</span>
            <a ng-click="ctrl.toggleSearchBox()">
                <i class="fa fa-search"></i>
                <span ng-bind="ctrl.searchTitle"></span>
            </a>            
        </div>
        <div class="search-background" style="display: none;">
            <input id="searchQueryTerm" type="text" value="Search" />
        </div>
    </div>
</nav>