<section class="people-places news-events">
    <ul class="nav nav-tabs">
        <li class="nav-item" ng-click="ctrl.toggleActiveTab('people')">
            <a class="nav-link alt" ng-class="{active: ctrl.activeTab == 'people'}">People</a>
        </li>
        <li class="nav-item" ng-click="ctrl.toggleActiveTab('places')">
            <a class="nav-link alt" ng-class="{active: ctrl.activeTab == 'places'}">Places</a>
        </li>
    </ul>
    <div class="ci-people" ng-show="ctrl.activeTab == 'people'">
        <find-people></find-people>
    </div>
    <div class="ci-places" ng-show="ctrl.activeTab == 'places'">
        <h4>Locations by Region</h4>
        <location-places></location-places>        
    </div>
    <input id="ci-pp-activeTab" type="hidden" ng-model="ctrl.activeTab" />
</section>

