<section class="photo-share stay-connected" ng-if="!isLowBandwidth">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="section">Compassion Snapshots</h2>
        <h4>Stay connected with Compassion International</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6" ng-repeat="photo in ctrl.photos | limitTo: 4 track by $index">
            <div class="photo-container">
              <img ng-src="{{photo.source}}" class="img-fluid">
              <p>{{photo.description}}</p>
            </div>
          </div>
      </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-cta" ng-click="ctrl.displayNewPhotoForm()">Share your photos</a>
        </div>
    </div>
</div>
</section>
