<section class="photo-share" ng-show="!lowBandwidth">
    <div class="row">
        <div class="column">
            <h2 class="section">Celebrate Our Mission</h2>
            <h4>Stay connected with Compassion International</h4>
        </div>
    </div>
    <ul>
        <li ng-repeat="photo in ctrl.photos | limitTo: 2 track by $index">
            <img ng-src="{{photo.source}}" />
            <span class="description">{{photo.description}}</span>
        </li>
    </ul>
    <div class="row">
        <div class="col">
            <a class="btn btn-cta" ng-click="ctrl.displayNewPhotoForm()">Share your photos ></a>
        </div>
    </div>

</section>