<section class="related-news"> 
    <div class="row">
        <div class="col">
            <h2 class="section">Related Articles</h2>
        </div>
    </div>  
    <div class="card related">
        <div class="card-body">
            <img class="img-card" src="{{topImageUrl}}" alt="">
        </div>
    </div>
    <div class="card related" ng-repeat="article in news track by $index">
        <div class="card-body">
            <p class="card-date">{{article.articleDate}}</p>
            <a ng-href="{{article.Path}}">
                <p class="card-text">{{article.Title}}</p>
            </a>
            <news-page-likes page-url="{{article.Path}}"></news-page-likes>
        </div>
    </div>
    <div ng-if="notFound" class="card related">
        <span class="card-text">{{notFound}}</span>
    </div>
</section>


