<div ng-show="News" class="trending-stories">
    <span class="line-title">Related News</span>
    <div ng-repeat="x in news" class="story">
        <div class="reminder-date">
            <span class="news-type">{{x.category}}</span>
            <a ng-href="{{x.url}}">
                <h4 class="news-title">{{x.title}}</h4>
            </a>
            <span class="regular-body numbers">{{x.publishDate}}</span>
        </div>
    </div>
</div>

<div ng-if="notFound" class="trending-stories">
    <span class="line-title">{{notFound}}</span>
</div>