<div ng-show="news.length > 0" class="trending-stories">
    <div class="top-image">
        <img src="{{topImageUrl}}" />
    </div>
    <div ng-repeat="article in news track by $index" class="story">
        <div class="reminder-date">
            <span class="regular-body numbers">{{article.articleDate}}</span>
            <a ng-href="{{article.Path}}">
                <h4 class="news-title">{{article.Title}}</h4>
            </a>
        </div>
    </div>
</div>

<div ng-if="notFound" class="trending-news">
    <span class="line-title">{{notFound}}</span>
</div>