<section class="work-resources">
    <div class="row">
        <div class="col-12">
            <h2 class="section">Work Resources</h2>
            <div class="row">
                <div class="col-lg-8">
                    <div class="input-group search">
                        <input type="text" class="form-control" placeholder="Search content in Work Resources" ng-model="ctrl.searchText">
                        <span class="input-group-btn">
                            <button ng-click="ctrl.searchBox()" class="btn btn-input" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="section">Or Browse by Category</h2>
        <div class="col-12">
            <ul class="nav nav-pills nav-fill">
                    <li class="nav-item" ng-repeat="link in ctrl.resourceLinks">
                        <a ng-href="{{ link.URL }}">
                            <img ng-src="{{ link.iconUrl }}" />
                        </a>
                        <a href="{{ link.URL }}">{{ link.title }}</a>
                        </li>
            </ul>
        </div>
    </div>
</section>