<section id="ci-toolbar-container" class="nav-toolbar" ng-cloak>
    <div id="ci-toolbar" class="">
        <div class="">
            <ul id="ci-toolbar-selector" class="nav nav-tabs">

                <div class="manage-toolbar">
                    <toolbar-manager></toolbar-manager>
                </div>
                <li class="nav-item active">
                    <a class="nav-link" ng-class="{active:ctrl.isSelected('ci-apps')}" ng-click="ctrl.select('ci-apps')" href="javascript: void(0);">apps + tools</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-class="{active:ctrl.isSelected('ci-documents')}" ng-click="ctrl.select('ci-documents')" href="javascript: void(0);">documents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-class="{active:ctrl.isSelected('ci-bookmarks')}" ng-click="ctrl.select('ci-bookmarks')" href="javascript: void(0);">bookmarks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-class="{active:ctrl.isSelected('ci-sites')}" ng-click="ctrl.select('ci-sites')" href="javascript: void(0);">project sites</a>
                </li>
            </ul>
            <div class="toolbar-content" id="ci-apps" ng-show="ctrl.selectedTabId == 'ci-apps'">
                <my-apps></my-apps>
            </div>
            <div class="toolbar-content" id="ci-documents" ng-show="ctrl.selectedTabId == 'ci-documents'">
                <h3>Recent Documents</h3>
                <my-documents></my-documents>
            </div>
            <div class="toolbar-content" id="ci-bookmarks" ng-show="ctrl.selectedTabId == 'ci-bookmarks'">
                <my-bookmarks></my-bookmarks>
            </div>
            <div class="toolbar-content" id="ci-sites" ng-show="ctrl.selectedTabId == 'ci-sites'">
                <my-sites></my-sites>
            </div>            
        </div>        
    </div>
</section>