<section>
    <div class="weather row" ng-if="temp">
        <div class="col-sm-4">
            <div class="image">
                <span ng-class="image"></span>
            </div>            
        </div>
        <div class="col-sm-8">
            <div class="location">{{city}}, {{state}}</div>
            <div>
                <span class="temp">{{temp}}&deg{{unit}} and </span>
                <span class="text">{{text}}</span>
            </div>            
        </div>
    </div>
    <div class="weather" ng-if="noWeather">
        There was an issue connecting to the weather service
    </div>
</section>

    




    
    
   