/* 
 * -----------------------------------------
 *  Buttons
 *  @@ File: base/_buttons.scss
 * ----------------------------------------- 
 */
 .btn{
 	color: $brand-dark-blue-alt;
 	text-transform: uppercase;
 	@extend .font-lato-bold;
 	font-size: 16px;
 	letter-spacing: 2px;
 	padding-left: 0;
 	&.btn-cta{
 		margin-top: 30px;
 		margin-bottom: 30px;
 		&:after{
 			font-family: FontAwesome;
 			content: '\f054';
 			display: inline-block;
 			@extend .font-lato-light;
 			font-size: 15px;
 			margin-left: 10px;
 			color: $brand-dark-blue-alt;
 		}
 		&.white{
 			color: $brand-white;
 			&:after{
 				color: $brand-white;
 			}
 		}
 	}
 	&.btn-input{
 		background-color: $brand-white;
 		border: 1px solid $brand-brown-gray;
 		border-radius: 0;
 		border-left: none;
 		font-size: 20px;
 		color: $brand-brown-gray;
 		height: 100%;
 	}
 	&.mx-w{
 		max-width: 320px;
 		margin-bottom: 15px;
 	}
 }
 .btn.btn-block{
 	color: $brand-dark-blue-alt;
 	background-color: $brand-white;
 	border-radius: 0;
 	border: none;
 	text-transform: uppercase;
 	@extend .font-lato-bold;
 	font-size: 16px;
 	letter-spacing: 2px;
 	padding: 15px;
 	&.blue{
 		background-color: $brand-dark-blue;
 		color: $brand-white;
 	}
 	&.blue-alt{
 		background-color: $brand-dark-blue-alt;
 		color: $brand-white;
 	}
 	&.brown{
 		color: $brand-brown-gray;
 	}
 }

 .nav-pills {
 	.nav-link {
	    background-color: $brand-dark-blue;
	    color: #fff;
	    text-align: center;
	    text-transform: uppercase;
	    letter-spacing: 0.3px;
	    &:hover{
	    	background-color: $brand-white;
	    	color: $brand-dark-blue;
	    }
	}
	.nav-item{
		margin-right: 15px;
		min-width: 200px;
		margin-bottom: 15px;
	}
}

.helpful-links{
	ul{
		list-style: none;
		padding-left: 0;
	}
	li{
		display: table;
		&:before{
			font-family: FontAwesome;
			content:"\f0c1";
			display: table-cell;
			padding-right: 10px;
		}
	}
}
.bookmark, .submit, .share{
 	height: 100%;
 	display: block;
 	position: relative;
 	color: $brand-dark-blue;
 	span{
 		position: relative;
 		top: 50%;
 		i{
 			margin-left: 10px;
 		}
 	}
 }
 .submit, .share{
 	span{
 		top: 0;
 	}
 }