/* 
 * -----------------------------------------
 *  Variables
 *  @@ File: base/_variables.scss
 * ----------------------------------------- 
 */

/* ----------------------------------------------------
   Responsive Screen Sizes
------------------------------------------------------- */
$phone-only: "575px";
$xs-only: 	"767px";
$sm-max:	"992px";
$sm-only: 	"768px";
$sm-only2:  "991px";
$sm-min: 	"768px";
$md-min: 	"992px";

/* ----------------------------------------------------
   Colors
------------------------------------------------------- */
$brand-black			:		#000000;
$brand-off-white		: 		#f4f4ef; 
$brand-white			: 		#ffffff;

$brand-dark-blue 		: 		#003364; //Text Color
$brand-light-blue 		: 		#88bee7; //Side rail, icons in nav
$brand-lighter-blue 	: 		#bbdaf2; //nav alternate color
$brand-dark-blue-alt 	: 		#0054a6;

$brand-gray			 	: 		#cacaca; 
$brand-light-gray		: 		#d8d8d8; 
$brand-dark-gray		: 		#9b9b9b; 
$brand-darker-gray		: 		#4a4a4a; 

$brand-brown-gray		: 		#908b63; 
$brand-brown-dull		: 		#b8b491; 

$brand-green			: 		#7ed321; 
$brand-yellow			: 		#ffdd00; 


/* ----------------------------------------------------
   Background Colors
------------------------------------------------------- */

.background-off-white{
	background-color: $brand-off-white;
}

