<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- NOTE: "Domain" only needed for on-prem, leaving blank will trigger SP Online auth-->
  <appSettings>
    <!-- TERM STORE NAME-->
    <add key="StoreName" value="Managed Metadata Service" />
    <!-- DEV -->
    <!--<add key="StoreName" value="Taxonomy_Eoejq2qjEKzN1HUtKfebcA==" /> PROD -->

    <!-- DEV -->
    <add key="SharePointSiteUrl" value="https://teganwilson.sharepoint.com/sites/compassion" />
    <add key="UserName" value="me@teganwilson.onmicrosoft.com" />
    <add key="Password" value="d3?w%:7T-#2-_[a>" />

    <!-- STAGING
    <add key="SharePointSiteUrl" value="https://compassion.sharepoint.com" />
    <add key="Domain" value="" />
    <add key="UserName" value="stonkin@us.ci.org" />
    <add key="Password" value="RightP@ss" />-->

    <!-- PRODUCTION
    <add key="SharePointSiteUrl" value="https://compassion.sharepoint.com" />
    <add key="Domain" value="" />
    <add key="UserName" value="stonkin@us.ci.org" />
    <add key="Password" value="RightP@ss" />-->

    <!-- Input folder where physical files are sourced (definition in files.xml) -->
    <add key="ProvisioningResourceFolder" value="C:\Projects\Compassion\CI.Intranet\CI.Intranet.Deployment\Resources" />

    <!-- Output folder where to output template will be exported-->
    <add key="ExportTemplateFolder" value="C:\Temp\Compassion" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>