<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- NOTE: "Domain" only needed for on-prem, leaving blank will trigger SP Online auth-->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CI.Intranet.Deployment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- TERM STORE NAME-->
    <add key="StoreName" value="Managed Metadata Service" />
    <!-- DEV -->
    <!--<add key="StoreName" value="Taxonomy_Eoejq2qjEKzN1HUtKfebcA==" /> PROD -->
    <!-- DEV -->
    
    <!-- Attributes for continous integration-->
    <add key="S-SharePointSiteUrl" value="https://compassion.sharepoint.com/sites/stage" />
    <add key="S-SearchSiteUrl" value="https://compassion.sharepoint.com/sites/stage-search" />
    <add key="S-Domain" value="" />
    <add key="S-UserName" value="twilson@us.ci.org" />
    <add key="S-Password" value="3y@ugjC18x3g" />
    <add key="S-ProvisioningResourceFolder" value="CI.Intranet.Deployment\Resources" />
    <add key="S-ExportTemplateFolder" value="CI.Intranet.Deployment\Temp\Compassion" />

    <!-- Attributes for production deployment-->
    <add key="P-SharePointSiteUrl" value="https://compassion.sharepoint.com" />
    <add key="P-SearchSiteUrl" value="https://compassion.sharepoint.com/sites/search" />
    <add key="P-Domain" value="" />
    <add key="P-UserName" value="twilson@us.ci.org" />
    <add key="P-Password" value="3y@ugjC18x3g" />
    <add key="P-ProvisioningResourceFolder" value="CI.Intranet.Deployment\Resources" />
    <add key="P-ExportTemplateFolder" value="CI.Intranet.Deployment\Temp\Compassion" />
    

    <!-- STAGING 
<add key="SharePointSiteUrl" value="https://compassion.sharepoint.com/sites/stage" />
<add key="Domain" value="" />
<add key="UserName" value="twilson@us.ci.org" />
<add key="Password" value="3y@ugjC18x3g" />
-->

    <!-- dev  
    <add key="UserName" value="stonkin@us.ci.org" />
<add key="Password" value="8Q&amp;G&amp;E96cFNVNYuO" />
-->
    <add key="SharePointSiteUrl" value="https://teganwilson.sharepoint.com/sites/tegan-compassion" />
    <add key="UserName" value="me@teganwilson.onmicrosoft.com" />
    <add key="Password" value="d3?w%:7T-#2-_[a>" />
   <!-- 
<add key="SharePointSiteUrl" value="https://stonkin.sharepoint.com/sites/compassion" />
    <add key="UserName" value="stonkin@stonkin.onmicrosoft.com" />
    <add key="Password" value="RightP@ss" />
     -->

    <!-- PRODUCTION
    <add key="SharePointSiteUrl" value="https://compassion.sharepoint.com" />
    <add key="Domain" value="" />
    <add key="UserName" value="stonkin@us.ci.org" />
    <add key="Password" value="zyXaSqEA7wJIQ6dL" />-->

    <add key="ProvisioningResourceFolder" value="C:\Projects\Compassion\CI.Intranet\CI.Intranet.Deployment\Resources" />
    <!-- Input folder where physical files are sourced (definition in files.xml) 
    <add key="ProvisioningResourceFolder" value="S:\VstsB3\_work\5\s\CI.Intranet.Deployment\Resources" />
   -->
    <add key="ExportTemplateFolder" value="C:\Temp\Compassion\TemplateExport" />
    <!-- Output folder where to output template will be exported
    <add key="ExportTemplateFolder" value="S:\VstsB3\_work\5\s\CI.Intranet.Deployment\Temp\Compassion" />  -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <CI.Intranet.Deployment.Properties.Settings>
      <setting name="GroupSitesStage" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>https://compassion.sharepoint.com/sites/stage-cfo</string>
            <string>https://compassion.sharepoint.com/sites/stage-gco</string>
            <string>https://compassion.sharepoint.com/sites/stage-glo</string>
            <string>https://compassion.sharepoint.com/sites/stage-gme</string>
            <string>https://compassion.sharepoint.com/sites/stage-gp</string>
            <string>https://compassion.sharepoint.com/sites/stage-hr</string>
            <string>https://compassion.sharepoint.com/sites/stage-innovation</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="GroupSites" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>https://compassion.sharepoint.com/sites/cfo</string>
            <string>https://compassion.sharepoint.com/sites/gco</string>
            <string>https://compassion.sharepoint.com/sites/global-leadership</string>
            <string>https://compassion.sharepoint.com/sites/gme</string>
            <string>https://compassion.sharepoint.com/sites/gp</string>
            <string>https://compassion.sharepoint.com/sites/hr</string>
            <string>https://compassion.sharepoint.com/sites/innovation</string>
          </ArrayOfString>
        </value>
      </setting>
    </CI.Intranet.Deployment.Properties.Settings>
  </applicationSettings>
</configuration>