//desktop.scss
navigation{
	.nav-item{
        padding-right: 35px;
        a, a:visited, a:hover{
            font-size: 21px;
        }
	}
}

.hero-news-container{
.recent-news-wrapper{
	margin-bottom: 30px;
}	
}